extends layout/layoutForm.pug
block content


  .row
    .col.s10.offset-s1
      h3 Afiliados
      a.btn.pink.lighten-2(href=`/add`).waves-effect.right
        i.material-icons.left(style="color:black") add
        |añadir
      table
        thead
          tr
            
            th Folio
            th Nombre completo
            th Telefono
            th OPCIONES
        tbody
        each afiliado in afiliados
          tr
            
            td= afiliado.data.folio
            td= afiliado.data.nombre + " " + afiliado.data.apellido_p + " " + afiliado.data.apellido_m
            td= afiliado.data.telefono
            td 
            
              a(href=`/delete?id=${afiliado.id}`).waves-effect
                i.material-icons.left(style="color:black") delete
                          
              a(href=`/actualizar?id=${afiliado.id}&op=1`).waves-effect
                i.material-icons.left(style="color:black") update
                
              a(href=`/view?id=${afiliado.id}&op=2`).waves-effect
                i.material-icons.left(style="color:black") visibility
                
      
              