extends layout/layoutForm.pug
block content
  .row
    h4.center.black-text FORMULARIO PARA EDITAR AFILIADOS
    .col.s10.offset-s1.m10.offset-m1
      form(method='POST' action='/update' enctype='multipart/form-data')

        fieldset.col.s12.m6.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px; margin-bottom: 12px;')
          legend Nombre
          input.black-text(value=afiliado.data.nombre type='text' name='nombre' id='nombre' placeholder='Nombre Completo' style='border: none;margin-bottom: 20px;width: 90%;')
        
        fieldset.col.s12.m5.offset-m1.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px; margin-bottom: 12px;')
          legend Apeliido Paterno
          input.black-text(value=afiliado.data.apellido_p type='text' name='apellido_p' placeholder='Apellido Paterno' style='border: none; margin-bottom: 20px; width: 90%;')
        
        fieldset.col.s12.m6.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px; margin-bottom: 12px;')
          legend Apeliido Materno
          input.black-text(value=afiliado.data.apellido_m type='text' name='apellido_m' placeholder='Apellido Materno' style='border: none; margin-bottom: 20px; width: 90%;')
        
        fieldset.col.s12.m5.offset-m1.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px; margin-bottom: 12px;')
          legend Folio
          input.black-text(value=afiliado.data.folio type='number' name='folio' placeholder='Folio' style='border: none; margin-bottom: 20px; width: 90%;')
        
        fieldset.col.s12.m7.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px;margin-bottom: 12px;')
          legend Servicios
          input.black-text(value=afiliado.data.especialidad type='text' name='especialidad' placeholder='Servicios' style='border: none;margin-bottom: 20px;width: 90%;' id='' )
        
        fieldset.col.s12.m4.offset-m1.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px; margin-bottom: 12px;')
          legend CURP
          input.black-text(value=afiliado.data.curp type='text' name='curp' placeholder='CURP' style='border: none; margin-bottom: 20px; width: 90%;')
        

        fieldset.col.s12.m6.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px; margin-bottom: 12px;')
          legend RFC
          input.black-text(value=afiliado.data.rfc type='text' name='rfc' placeholder='RFC' style='border: none; margin-bottom: 20px; width: 90%;')
        
        fieldset.col.s12.m5.offset-m1.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px; margin-bottom: 12px;')
          legend Num. Seguro Social
          input.black-text(value=afiliado.data.seguro_social type='number' name='seguro_social' placeholder='Num. Seguro Social' style='border: none; margin-bottom: 20px; width: 90%;')
        
        fieldset.col.s12.m4.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px;margin-bottom: 12px;')
          legend Numero Telefonico
          input.black-text(value=afiliado.data.telefono_1 type='number' name='telefono' placeholder='Numero Telefonico' style='border: none;margin-bottom: 20px;width: 90%;' id='' )
        
        fieldset.col.s12.m3.offset-m1.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px;margin-bottom: 12px;')
          legend Fecha de nacimiento
          input.black-text(value=afiliado.data.fecha_nacimiento type="date" name='fecha_nacimiento' style='border: none;margin-bottom: 20px;width: 90%;' id='' )
        
        fieldset.col.s12.m3.offset-m1.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px; margin-bottom: 12px;')
          legend Codigo postal
          input.black-text(value=afiliado.data.cp type='number' name='cp' placeholder='Codigo postal' style='border: none;margin-bottom: 20px;width: 90%;' id='' )
        
        fieldset.col.s12.m5.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px;margin-bottom: 12px;')
          legend Estado
          input.black-text(value=afiliado.data.estado type='text' name='estado' placeholder='Estado' style='border: none;margin-bottom: 20px;width: 90%;' id='' )

        fieldset.col.s12.m6.offset-m1.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px;margin-bottom: 12px;')
          legend Municipio
          input.black-text(value=afiliado.data.municipio type='text' name='municipio' placeholder='Municipio' style='border: none;margin-bottom: 20px;width: 90%;' id='' )

        fieldset.col.s12.m5.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px; margin-bottom: 12px;')
          legend Ciudad
          input.black-text(value=afiliado.data.ciudad type='text' name='ciudad' placeholder='Ciudad' style='border: none;margin-bottom: 20px;width: 90%;' id='' )

        fieldset.col.s12.m6.offset-m1.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px;margin-bottom: 12px;')
          legend Colonia
          input.black-text(value=afiliado.data.colonia type='text' name='colonia' placeholder='Colonia' style='border: none;margin-bottom: 20px;width: 90%;' id='' )

        fieldset.col.s12.m4.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px;margin-bottom: 12px;')
          legend Calle
          input.black-text(value=afiliado.data.calle type='text' name='calle' placeholder='Calle' style='border: none;margin-bottom: 20px;width: 90%;' id='' )
        
        fieldset.col.s12.m3.offset-m1.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px; margin-bottom: 12px;')
          legend Numero Exterior
          input.black-text(value=afiliado.data.num_ext type='text' name='num_ext' placeholder='Num. Ext.' style='border: none;margin-bottom: 20px;width: 90%;' id='' )

        fieldset.col.s12.m3.offset-m1.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px;margin-bottom: 12px;')
          legend Numero Interior
          input.black-text(value=afiliado.data.num_int type='text' name='num_int' placeholder='Num. Int.' style='border: none;margin-bottom: 20px;width: 90%;' id='' )

        .row
          .col.m6.s12
            a.btn.col.s12(href="/dash" style='border-radius: 10px; background-color: #dd1917;margin-top: 20px;')
              | atras
          .col.m6.s12
            button.btn.col.s12(value='Ingresar' type='submit' style='border-radius: 10px; margin-top: 20px;background-color: #dd1917;')
              |Actualizar
