<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body

    table.white-text.striped
        thead
            tr
            th Ciudad
            th Colonia
            th Calle
            th Num_ext
            th Num_int
            
        tbody
        each prueva in pruevas
            tr
            td= prueva.ciudad
            td= prueva.colonia
            td= prueva.calle
            td= prueva.num_ext
            td= prueva.num_int