extends layout/layout.pug
block content
  .row
    .col.s12.m10.offset-m1
      ul.collection.p-0.m-0
        li.collection-item
          small
          span.center Nombre:
          p= afiliado.data.nombre + " " + afiliado.data.apellido_p + " " + afiliado.data.apellido_m
        hr

        li.collection-item
          span Folio:
          p= afiliado.data.folio
        hr

        li.collection-item
          span Servicios:
          p= afiliado.data.especialidad
        hr
        
        li.collection-item
          small
            span CURP:
          p= afiliado.data.curp
        hr

        li.collection-item
          small
            span RFC:
          p= afiliado.data.rfc
        hr

        li.collection-item
          small
            span Seguro Social:
          p= afiliado.data.seguro_social
        hr

        li.collection-item
          small
            span Telefono:
          p= afiliado.data.telefono
        hr

        li.collection-item
          small
            span Fecha de nacimiento:
          p= afiliado.data.fecha_nacimiento
        hr

        li.collection-item
          small
            span Colonia:
          p= afiliado.data.colonia
        hr

        
        li.collection-item
          small
            span Calle:
          p= afiliado.data.calle
        hr

        li.collection-item
          small
            span Municipio:
          p= afiliado.data.municipio
        hr

        li.collection-item
          small
            span Ciudad:
          p= afiliado.data.ciudad
        hr

      
        li.collection-item
          small
            span Num. Ex.:
          p= afiliado.data.num_ext
        hr
          
        .col.s6
          li.collection-item
            small
              span Num. Int.:
            p= afiliado.data.num_int
          hr
        
        
          li.collection-item
            small
              span Estado:
            p= afiliado.data.estado
          hr

        .col.s6
          li.collection-item
            small
              span C.P.:
            p= afiliado.data.cp
          hr

      a.btn.col.s12.pink.lighten-4.boton(href='/dash' style='border-radius: 10px;')
        i.material-icons.left chevron_left 
        | Volver